section.page-main__our-features-container(id="our-features")
  .page-main__our-features-wrap
    h2.page-main__our-features-header Почему мы
    p.page-main__our-features-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam voluptatum consequuntur rem, necessitatibus qui est! Deleniti commodi rerum iusto dignissimos ipsa minus doloribus est, dolorum.
    .page-main__our-features-items-inner(id="scheme")
      .page-main__our-features-item-wrap
        span.page-main__our-features-sprite
          svg.page-main__our-features-sprite--monitor
            use(xlink:href='#monitor-icon')
        h3.page-main__our-features-item-header Преимущество 1
        p.page-main__our-features-item-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet reiciendis, ipsam!
      .page-main__our-features-item-wrap
        span.page-main__our-features-sprite
          svg.page-main__our-features-sprite--magic
            use(xlink:href='#magic-icon')
        h3.page-main__our-features-item-header Преимущество 2
        p.page-main__our-features-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, eaque.
      .page-main__our-features-item-wrap
        span.page-main__our-features-sprite
          svg.page-main__our-features-sprite--rocket
            use(xlink:href='#rocket-icon')
        h3.page-main__our-features-item-header Преимущество 3
        p.page-main__our-features-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, alias.
      .page-main__our-features-item-wrap
        span.page-main__our-features-sprite
          svg.page-main__our-features-sprite--globe
            use(xlink:href='#globe-icon')
        h3.page-main__our-features-item-header Преимущество 4
        p.page-main__our-features-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, dolorum!
      .page-main__our-features-item-wrap
        span.page-main__our-features-sprite
          svg.page-main__our-features-sprite--gear
            use(xlink:href='#gear-icon')
        h3.page-main__our-features-item-header Преимущество 5
        p.page-main__our-features-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, adipisci.
      .page-main__our-features-item-wrap
        span.page-main__our-features-sprite
          svg.page-main__our-features-sprite--burger
            use(xlink:href='#burger-icon')
        h3.page-main__our-features-item-header Преимущество 6
        p.page-main__our-features-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, sit!
      .page-main__our-features-item-wrap
        span.page-main__our-features-sprite
          svg.page-main__our-features-sprite--wrench
            use(xlink:href='#wrench-icon')
        h3.page-main__our-features-item-header Преимущество 7
        p.page-main__our-features-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, molestiae.
      .page-main__our-features-item-wrap
        span.page-main__our-features-sprite
          svg.page-main__our-features-sprite--note
            use(xlink:href='#note-icon')
        h3.page-main__our-features-item-header Преимущество 8
        p.page-main__our-features-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, maiores!
