header.page-header__inner
  .page-header__container
    .page-header__logo-wrap
      a.page-header__logo-link(href="#")
        img.page-header__logo-img(src="img/page-header/header__logo.png", alt="Site Logo")

    .page-header__nav-wrap
      input.page-header__search-input(id="search" type="search")
      nav.site-nav
        ul.site-nav__list.site-nav__list--mobile
          li.site-nav__li
            a.site-nav__link.site-nav__link--active(href="#").site-nav__link-js Главная
          li.site-nav__li
            a.site-nav__link(href="#portfolio").site-nav__link-js Портфолио
          li.site-nav__li
            a.site-nav__link(href="#our-features").site-nav__link-js Преимущества
          li.site-nav__li
            a.site-nav__link(href="#scheme").site-nav__link-js Схема работы
          li.site-nav__li
            a.site-nav__link(href="#feedback").site-nav__link-js Отзывы
          li.site-nav__li
            a.site-nav__link(href="#contacts").site-nav__link-js Контакты
        a.site-nav__burger-wrap(id="dropDown")
          span.site-nav__burger
          span.site-nav__burger
          span.site-nav__burger
    .page-header__contact-number-wrap
      a.page-header__contact-phone-bid.hidden Оформить заявку
      ul.page-header__contact-number-list
        li.page-header__contact-number-li
          a.page-header__contact-number-link +375 (29) 123-45-67
        li.page-header__contact-number-li
          a.page-header__contact-number-link +375 (29) 123-45-67
