footer.page-footer
  .page-footer__top-container
    .page-footer__disclaimer-wrap
      a.page-footer__logo-link(href="#")
        img.page-footer__logo-img(src="img/page-footer/footer__logo.png", alt="Site Logo")
      .page-footer__disclaimer
        span.page-footer__disclaimer-text Дисклеймер компании
    .page-footer__social-wrap
      h3.page-footer__social-header Мы в соцсетях
      ul.page-footer__social-list
        li.page-footer__social-li
          a.page-footer__social-link.page-footer__social-link--instagram
        li.page-footer__social-li
          a.page-footer__social-link.page-footer__social-link--twitter
        li.page-footer__social-li
          a.page-footer__social-link.page-footer__social-link--facebook
    .page-footer__adress-wrap
      .page-footer__adress-header Адрес
      span.page-footer__adress-text г.Минск, ул.Скрыганова, 6А,
        br
        | 4 этаж
  .page-footer__bottom-container
    .page-footer__copyright-wrap
      span.page-footer__copyright-text Сopyright 2015 &#169; webcom media