section.page-main__portfolio-container
  .page-main__portfolio-wrap
    h2.page-main__portfolio-header Наша работа
    p.page-main__portfolio-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptate excepturi sit natus ducimus perspiciatis praesentium id cum similique ad.
    .page-main__portfolio-slide-container
      .page-main__portfolio-slide
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы
              p.portfolio-item__description-text Описание работы
      .page-main__portfolio-slide.hidden
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 2)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 2)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 2)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 2)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 2)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 2)
              p.portfolio-item__description-text Описание работы
      .page-main__portfolio-slide.hidden
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 3)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 3)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 3)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 3)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 3)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 3)
              p.portfolio-item__description-text Описание работы
      .page-main__portfolio-slide.hidden
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 4)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 4)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 4)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 4)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 4)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 4)
              p.portfolio-item__description-text Описание работы
      .page-main__portfolio-slide.hidden
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 5)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 5)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 5)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 5)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 5)
              p.portfolio-item__description-text Описание работы
        .page-main__portfolio-item-wrap
          arcticle.portfolio-item
            img(src="", alt="").portfolio-item__img
            .portfolio-item__description-wrap
              h3.portfolio-item__header Название работы (слайд 5)
              p.portfolio-item__description-text Описание работы
    .page-main__portfolio-indication-container
      ul.page-main__portfolio-indication-list
        li.page-main__portfolio-indication-li(data-number='1').page-main__portfolio-indication-li--active
        li.page-main__portfolio-indication-li(data-number='2')
        li.page-main__portfolio-indication-li(data-number='3')
        li.page-main__portfolio-indication-li(data-number='4')
        li.page-main__portfolio-indication-li(data-number='5')