section.page-main__slider-container(id="slider")
  .page-main__slider-wrap
    .page-main__slider-toggle.page-main__slider-toggle--prev
      svg.page-main__our-features-sprite--prev
            use(xlink:href='#toggle-prev')
    .page-main__slider-toggle.page-main__slider-toggle--next
      svg.page-main__our-features-sprite--prev
            use(xlink:href='#toggle-next')
    .page-main__slider-content-inner
      .page-main__slider-content.page-main__slider-content-1
        h2.page-main__slider-header Главный заголовок
        span.page-main__slider-divider
        p.page-main__slider-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi velit earum temporibus sunt neque, numquam nisi laborum in consectetur ex.
        a.page-main__slider-btn Оформить заявку
      .page-main__slider-content.page-main__slider-content-2.page-main__slider-content-hidden
        h2.page-main__slider-header Второй главный заголовок
        span.page-main__slider-divider
        p.page-main__slider-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ad laborum alias pariatur expedita vitae eveniet dolor velit.
        a.page-main__slider-btn Оформить заявку
      .page-main__slider-content.page-main__slider-content-3.page-main__slider-content-hidden
        h2.page-main__slider-header Третий главный заголовок
        span.page-main__slider-divider
        p.page-main__slider-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere minima repellendus aspernatur cum accusantium sapiente quod molestias aperiam.
        a.page-main__slider-btn Оформить заявку
      .page-main__slider-content.page-main__slider-content-4.page-main__slider-content-hidden
        h2.page-main__slider-header Четвертый главный заголовок
        span.page-main__slider-divider
        p.page-main__slider-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi recusandae modi harum est quos numquam, odio, veniam ullam.
        a.page-main__slider-btn Оформить заявку
      .page-main__slider-content.page-main__slider-content-5.page-main__slider-content-hidden
        h2.page-main__slider-header Пятый главный заголовок
        span.page-main__slider-divider
        p.page-main__slider-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita similique iure quo, laborum magnam tempora. Sit, nisi, aliquid!
        a.page-main__slider-btn Оформить заявку
  ul.page-main__slider-indicator-list
    li.page-main__slider-indicator-li.page-main__slider-indicator-li--active
    li.page-main__slider-indicator-li
    li.page-main__slider-indicator-li
    li.page-main__slider-indicator-li
    li.page-main__slider-indicator-li
  a.page-main__slider-scroll(href="#portfolio")
    i.page-main__slider-scroll-icon
  
