<!DOCTYPE html>
html(lang="en")
  include modules/head.pug
  body.page-body
    include modules/page-header.pug
    main.page-main
      include modules/slider.pug
      include modules/portfolio.pug
      include modules/our-features.pug
      include modules/feedback.pug
      include modules/main-arrow.pug
    include modules/page-footer.pug
    script(src="js/common.js")
